@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), 
    local("Roboto-Italic"), 
    url("fonts/roboto-3224a99c75e0d2daf7f78308d0a5682fbd4b96f1.woff") format("woff"), 
    url("fonts/roboto-c209d3ab5187250e81bb590ba960d1c7dd50a6a9.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), 
    local("Roboto-Light"), 
    url("fonts/roboto-27c056b9c70dcfd55c43e954a898eb5bf706f730.woff") format("woff"), 
    url("fonts/roboto-f23a0413fdd70117752cf73679d2c5867095eaac.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  /* IE6-8 compat */
  src: url("fonts/roboto-bcd5990bb2551892cddff247dff2db1f2fc66ce6.eot");
  src: local("Roboto"), 
    local("Roboto-Regular"), 
    url("fonts/roboto-940b859e4f02bd3e7cf7b6ce245c197b5470302a.woff") format("woff"), 
    url("fonts/roboto-148fe3b2ffcb825efff40a8378f22125ccf88cb0.svg#Roboto") format("svg"), 
    url("fonts/roboto-bcd5990bb2551892cddff247dff2db1f2fc66ce6.eot") format("embedded-opentype"), 
    url("fonts/roboto-89e7bf27190d62c7b508dc92c7012c1180458f4e.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), 
    local("Roboto-Medium"), 
    url("fonts/roboto-c5e19cdc9c784c0362e7d2b7b5be26418b07fd89.woff") format("woff"), 
    url("fonts/roboto-620481374c705f0e6e387d281e66a2b250611445.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), 
    local("Roboto-Bold"), 
    url("fonts/roboto-24f9df68c500f7bbd1cb1c632de59936aa85b2e0.woff") format("woff"), 
    url("fonts/roboto-c93cb6eb6a75a7f4312fd2bafe5bab7fbadf12d9.ttf") format("truetype");
}

